@media(max-width:800px){
    .cards-service{
        display: flex;
        justify-content: center;
    }

}

.decor-clinic{
    width: 100%;
height: auto;
display: block;
}
.decor-stomatolog{
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.down{
    background: red;
}

.decor-text{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}
.decor-title{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
        color: rgb(0, 150, 136);
}

.logo-footer{
    padding-left: 12px;
}

.decor-footer{
    background-color: rgb(215, 220, 224);
}

.c-item{
height: 480px;
}

.c-img{
height: 100%;
object-fit: cover;
}

.cloud, .services{
    border-radius: 0 40px;
    background-color: #9cc4eb;
    text-align: center;
    padding: 18px;
    
}

.services{
    border-radius: 40px 40px;
    margin: 25px 40px 15px;
    
    
}

.services-links{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.services-links:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);

}
.cosas{
    
    text-align: center;
}

li{
    line-height: 2;
}

ul{
    list-style: none;
    
}

ul .payment::before{
    content: '✓';
    color: rgb(0, 150, 136);
  }

  .meet-box{
    background-color:rgb(86, 143, 187);
    color: white;
    padding: 15px;
    line-height: 1;
  }

  .description{
    line-height: 0;
  }

  .map{
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

.iframe{
  width: 80vw;
  height: 60vh;
}

  .click-me{
    color: rgb(0, 150, 136);
    text-decoration: underline;
    
  }
  .click-me:hover{
    color:rgb(0, 150, 136);
    text-decoration: underline;
  }

  .social-media{
    color: rgb(0, 150, 136);
  }

  .email{
    color: rgb(0, 150, 136);
    text-decoration: none;
  }

  .email:hover{
    text-decoration: underline;
  }

  .decor-blue-bg{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
      
  }

.card-body{
    background-color: rgb(237, 239, 240);
   
}

.decor-carousel{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.image-darken {
    filter: brightness(85%) contrast(90%);

}




.contain-treatments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: stretch; 
}


.card-img-top {
    height: 200px;
    object-fit: cover; 
    width: 100%;
}

.card {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    height: auto;   
    

}

.card-title, .card-text, .list-group-item {
    min-height: auto; 
 }
.links-name{
    color: rgb(0, 150, 136);
    text-decoration: none;
}

.links-name:hover{
    color: rgb(0, 150, 136);
    text-decoration: underline;
}

.booking{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 19px 43px 19px 43px;
    border: 1px solid rgb(186, 181, 181);
    border-radius: 4px;
    background-color:rgb(237, 239, 240);
    color: rgb(0, 150, 136);
    font-weight: bold;
    cursor: pointer;

}

.book-now-container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50px;
}

.booking:hover{
    background-color: rgb(215, 220, 224);
    color:rgb(0, 150, 136);
    cursor: pointer;

}

