@media(max-width:800px){
    .decor-stomatolog{
        display: none;
    }

}



.decor-clinic{
    width: 100%;
height: auto;
display: block;
}
.decor-stomatolog{
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.down{
    background: red;
}

.decor-text{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.decor-title{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;  
}

.logo-footer{
    padding-left: 12px;
}

.decor-footer{
    background-color: rgb(215, 220, 224);
}

.c-item{
height: 480px;
}

.c-img{
height: 100%;
object-fit: cover;
}

.cloud{
    border-radius: 0 40px;
    background-color:rgb(206, 231, 251);
    text-align: center;
    padding: 18px;
    
}
