@media(max-width:800px){
    .cards-service{
        display: flex;
        justify-content: center;
    }

}

.decor-clinic{
    width: 100%;
height: auto;
display: block;
}
.decor-stomatolog{
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.down{
    background: red;
}

.decor-text{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.decor-title{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;  
}

.logo-footer{
    padding-left: 12px;
}

.decor-footer{
    background-color: rgb(215, 220, 224);
}

.c-item{
height: 480px;
}

.c-img{
height: 100%;
object-fit: cover;
}

.cloud, .services{
    border-radius: 0 40px;
    background-color:rgb(206, 231, 251);
    text-align: center;
    padding: 18px;
    
}

.services{
    border-radius: 40px 40px;
    margin: 12px;
}

.swrvices-links{
    text-decoration: none;
    color: rgb(94, 138, 148);
}


.swrvices-links:hover {
    text-decoration: underline;
    color: rgb(136, 180, 190);

}
.cosas{
    
    text-align: center;
}

li{
    line-height: 2;
}

ul{
    list-style: none;
    
}

ul .payment::before{
    content: '✓';
    color: rgb(0, 150, 136);
  }

  .meet-box{
    background-color:rgb(86, 143, 187);
    color: white;
    padding: 15px;
    line-height: 1;
  }

  .description{
    line-height: 0;
  }

  .map{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
  
  }